body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.6;
    background-color: #f4f4f4;
}

.header-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    box-shadow:  0 1px 0 0 rgba(0, 0, 0.25, 0.25);
}
.header-img img {
    width: 250px;
    text-decoration: none;
    cursor: pointer;
}
.search-input {
    margin: 6px;
    padding: 8px;
}
.header-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    cursor: pointer;
}

.sidebar {
    display: flex;
    gap: 30px;
    padding: 30px;
    background-color: #272626;
    border: 1px solid lightgray;
    border-radius: 6px;
    margin: 20px 0;
}

.main-nav-list {
    list-style: none;
    padding: 0;
}

.main-nav-item {
    padding: 10px 30px;
    margin-bottom: 10px;
    background: #d3d2d2;
    border: 1px solid lightgray;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.main-nav-item:hover {
    background: #a5a3a3;
}

.main-nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #07253a;
}
.text-title {
    color: white;
    font-size: 34px;
}
.text {
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.btn {
    background-color: #272626;
    border: 1px solid white;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    padding: 16px 32px;
    font-size: 20px;
    margin-bottom: 20px;
}
.btn:hover {
    background-color: #a5a3a3;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #acacac;
    margin: 16px 150px 50px 150px;
}
.main-text-title {
    color: #686868;
    margin: 20px auto;
}

.some-text {
    color: #606060;
    font-size: 24px;
    text-align: center;
    margin: 20px 5px;
}
.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #272626;
}
.footer-link-info {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}
